.benefits__list {
  // display: flex;
  // gap: 30px;

  @media screen and (min-width: 481px) {
    display: flex;
    gap: 30px;    
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
}

.benefits-padding {
  padding-bottom: 0;
}

.benefits__item {
  max-width: 450px;  
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    max-width: 345px;
    margin-bottom: 0;
  }
}

.benefits__background {
  max-width: 450px;
  height: 120px;
  background-color: var(--background-icons);
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 481px) {
    max-width: 345px;
    // height: 120px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 270px;
    // height: 120px;
  }
}

.benefits__icon {
  width: 70px;
  height: 70px;
}

.benefits__subtitle {
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;

  @media screen and (min-width: 481px) {
    max-width: 345px;
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    max-width: 270px;
    // height: 120px;
  }
}

.benefits__description {
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: var(--secondary-color);

  @media screen and (min-width: 481px) {
    max-width: 345px;
    
  }

  @media screen and (min-width: 1200px) {
    max-width: 270px;
    
  }
}
