@media screen and (max-width: 768px) {
  .our-work {
    display: none;
  }
}

.work__list {
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 0;
}

.work__item {
  position: relative;
  max-width: 370px;
}

.work__title {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  text-transform: uppercase;
}

.work-pictures {
  width: 100%;
}
