@mixin flex-gap {
  display: flex;
  gap: 30px;
}

// міксини для калькуляції сітки

@mixin calc($count, $gap) {
  width: calc((100% - ($count - 1) * $gap) / $count);
}


// міксини для різних скринів (ще не застосовував)

@mixin mobile {
  @media screen and (min-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desctop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}